---
export interface Props {
    variant: "primary" | "secondary";
}

const {variant} = Astro.props;
---


<button class=`px-8 py-4  bg-${variant !== "primary" ? "[#313136]" : "primary"}  rounded-full border border-${variant === "secondary" ? "[#525259e3]" : "white"}`>
    <slot/>
</button>