---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Sidebar from '../components/Sidebar.astro'
---

<Layout title="Documentation - Dullahan">
    <Header/>
    <Sidebar/>
    <main class="min-w-full h-screen">
        <section class="max-w-6xl mx-auto">
            <h1 class="text-5xl">Comming soon</h1>
        </section>
    </main>
</Layout>