---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Dullahan - the Headless monster">
    <Header/>
    <main class="min-w-full h-screen mt-32">
        <section class="max-w-6xl mx-auto">
            <Hero/>
            <ul role="list" class="link-card-grid">
                <Card
                        href="/docs"
                        title="Documentation"
                        body="Dummy text"
                />
                <Card
                        href="/docs"
                        title="Integrations"
                        body="Dummy text"
                />
                <Card
                        href="/docs"
                        title="Themes"
                        body="Dummy text"
                />
            </ul>
        </section>
    </main>
</Layout>

<style>

    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }

    .link-card-grid {
        margin-block: 10rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
        padding: 0;
    }
</style>
