<header class="py-5 absolute top-0 left-0 right-0">
    <div class="max-w-[1440px] mx-auto px-7">
        <a href="/" class="flex gap-3 hover:opacity">
            <img src="../../public/Dullahan.png" width="23px" height="23px" alt="Dullahan logo"/>
            <p class="text-lg text-white">Dullahan</p>
        </a>
    </div>
</header>