---
import Button from './Button.astro';
import dullahanImage from '../../public/Dullahan.png';

const {title, subtitle, description} = Astro.props;
---

<div class="flex">
    <div class="w-1/2">
        <h1 class="text-6xl mb-2 gradient">{title}</h1>
        <h2 class="text-4xl font-extralight mb-3">{subtitle}</h2>
        <p class="text-xl text-[#C1C1C1] font-extralight mb-6">{description}</p>
        <div class="flex gap-4">
            <Button class="mt-5 mr-5" href="/docs" variant="primary">Coming soon!</Button>
            <Button class="mt-5" href="/docs">View on GitHub</Button>
        </div>
    </div>
    <div class="w-1/2">
        <div class="relative flex justify-center">
            <div class="gradient-circle"></div>
            <img class="" src={dullahanImage} alt="Dullahan Logo" width="217px" height="255px"/>
        </div>
    </div>
</div>

<style>
    .gradient {
        background: linear-gradient(270deg, #F88125 30.73%, #1D98E1 103.23%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    .gradient-circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        width: 80%;
        margin-inline: auto;
        aspect-ratio: 1;
        border-radius: 50%;
        background: linear-gradient(135.04deg, #03519A 14.68%, #7A6B5C 53.14%, #F0851E 87.07%);
        filter: blur(50px);
    }
</style>